
.poseCard {
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
    width: 23%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px lightgray;
}

.poseCard img {
    width: 100%;
}